/*
# Media Queries And Responsive
*/

@media only screen and (max-width: 800px) {

  #page {
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
  }

  #main {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media only screen and (max-width: 600px) {
  .site-title {
    letter-spacing: 20pt;
    font-size: 200%;
    margin-left: 20pt;
  }

  #page {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

  #main {
    padding-left: 7%;
    padding-right: 7%;
  }

  #site-navigation .menu {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  .site-title {
    letter-spacing: 10pt;
    font-size: 200%;
    margin-left: 10pt;
  }
}
